body
{
    background-color: lightgrey;
}
#iterations
{
    display:flex;
    flex-wrap: wrap;
    column-count: 3;
    margin: 0 auto;
    text-align: center;
}
#iteration1, #iteration2, #iteration3
{
    width: 30%;
    margin: 0 auto;
    height: 100%;
    color: black;
}
#iteration1:hover, #iteration2:hover, #iteration3:hover
{
    background-color: white;
    cursor: pointer;
}
.heading
{
    margin: 0 auto;
    background-color: green;
    width: 40%;
    border-radius: 25px;
}
.headingText
{
    text-align: center;
}
h2
{
    margin-top: 0px;
}
h1
{
    margin-bottom: 5px;
}
.bodyText
{
    text-align: left;
}